#list {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 10px;
}

.List-container {
  display: flex;
  align-items: center;

  width: 800px;
  min-height: 50px;

  position: relative;

  margin-top: 5px;

  word-break: break-all;
  font-size: 30px;
  border: 1px solid rgb(44, 27, 27);
  border-radius: 5px;

  background-color: rgba(255, 0, 0, 0.1);
}
#text {
  width: 100%;

  margin-left: 10px;
  margin-right: 10px;

  padding-left: 25px;
}

img {
  width: 25px;
  height: 25px;

  margin-right: 10px;

  cursor: pointer;
}

.checkbox__input {
  appearance: none;
  position: absolute;
}

#text::before {
  content: "";
  display: block;

  width: 20px;
  height: 20px;

  position: absolute;
  top: 15px;
  left: 10px;
  z-index: 1;

  background: url(../../img/checkOff.png) no-repeat;
  background-size: 20px 20px;
}

#text::after {
  content: "";
  display: block;

  width: 20px;
  height: 20px;

  position: absolute;
  top: 15px;
  left: 10px;
  z-index: 2;

  background: url(../../img/checkOn.png) no-repeat;
  background-size: 20px 20px;
  opacity: 0;
}

#text.text::after {
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  .List-container {
    width: auto;
    min-width: 100%;

    padding-left: 10px;
    padding-right: 10px;
  }

  #textNote,
  .inputMenu-btn {
    height: 40px;

    font-size: 25px;
  }
}
