#list{
    display: flex;
    justify-content: center;
    align-items: center;
}   

.List-container{
    width: 800px;
    height: 250px;
    padding-left: 35px;
    font-size: 30px;
    border: 1px solid black;
}