#inputMenu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.logotip,
.addMenu {
  width: 800px;
  display: flex;
  justify-content: center;
}

.addMenu {
  padding: 10px;
}
h2 {
  margin: 0;
  font-size: 64px;
}
#textNote {
  width: 100%;
  height: 50px;
  padding: 5px;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  font-family: "Caveat", cursive;
  font-size: 30px;
}

button {
  padding: 5px;
  border: 0;
  height: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: "Caveat", cursive;
  font-size: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .logotip,
  .addMenu {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  #textNote,
  .inputMenu-btn {
    height: 40px;
    font-size: 25px;
  }
}
