.inputMenu-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.addMenu {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  margin: 0;
  font-size: 64px;
}
input {
  width: 740px;
  height: 50px;
  padding: 5px;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  font-family: "Caveat", cursive;
  font-size: 30px;
}

button {
  padding: 5px;
  border: 0;
  height: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: "Caveat", cursive;
  font-size: 30px;
}

@media only screen and (max-width : 450px){
  input, button{
    height: 40px;
    font-size: 25px;
  }


}
